.castList {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  padding-inline-start: 0;
}

.castItem {
  width: 200px;
}
.noImage {
  object-fit: cover;
  max-width: 200px;
  height: 300px;
}

.castDescription {
  margin: 10px 0;
  padding: 0 5px;
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
