.castList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.castItem {
  width: 150px;
}
.noImage {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  max-width: 150px;
  height: 225px;
}
