.container {
  min-height: 100%;
  margin: 0 auto;
  background-color: aliceblue;
}
.navigate {
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: center;
}

header {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 1100;
  display: flex;
  align-items: center;
  min-height: 64px;
  padding: 24px 12px;
  color: #fff;
  background-color: #bbc4f3;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
div[data-testid='three-circles-wrapper'] {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.icon {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(/src/images/4831203.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

footer {
  color: black;
  background-color: #bbc4f3;
  padding: 24px 12px;
  width: 100%;
}

.footerTitle {
  font-size: 28px;
  margin: 0 0 0 5px;
  display: flex;
  align-items: center;
}

.text {
  display: inline;
}

.footerLogo {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}
